.title-h2{
  font-size: 3rem;
  font-weight: 1;
  font-family: 'Passions Conflict', cursive;
  color: #0077ff;;
  animation: mymove 1s linear infinite;
  animation-direction: alternate;
  text-align: right;
  margin: 2px;
}

@keyframes mymove {
 0% {transform: translateX(-100px);}
 50% {transform: translateX(-50px);}
 100% {transform: translateX(0px);}
}

.image{
  height: 200px;
  position: absolute;
  right: 10%;
  border-radius: 10%;
  /* margin-bottom: 5rem; */
  padding-bottom: 2.5rem;
}

.overlay {
  position: relative;
  left: 27.9rem;
  top: 6.5rem;
  opacity:0;
  color: #ffffff;
  font-size: 0.9rem;
  text-align: center;
  font-family: 'Lobster', cursive;
}

.title:hover .overlay {
  opacity: 1;
}
